@import "../lib/rankLabel.less";

.SettingsPage {
  padding: 20px 0;

  @media @desktop-up {
    fieldset {
      margin-bottom: 30px;

      > ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  .Ranks-blocked {
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px
  }

  .Upload-label {
    margin-right: 15px;
  }

  .Upload-button {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
  }

  .Ranks-default {
    width: 30%;
    margin-top: 5px;
    margin-bottom: 5px
  }
  .Ranks-save {
    margin-top: 15px;
  }

  .Ranks--Container-row {
    display: flex;
    gap: 4px;
    width: auto;
  }

  .Ranks--Container-row > * {
    flex-shrink: 1;
    flex-grow: 0;
  }

  .Ranks--Container-row > button {
    flex-grow: 1;
    flex-shrink: 0;
  }

  .Ranks--Container {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}
